@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: #404040;
  font-family: 'Noto Sans Thai', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  font-family: 'Noto Sans Thai', sans-serif;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}